<div class="masthead">
  <div class="container">
    <div class="site-logo-lg">
      {{> site-logo name="logo-white" width=width }}
    </div>

    <br>

    <div class="lead">
      <em>{{or @site.lead @site.description}}</em>
    </div>
  </div>
</div>
